<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>About Page</title>
</head><div id="content"><h1>About SCM 🚀</h1>
        <p>SCM (Smart Contact Manager) is a web application that helps users manage their contacts efficiently and securely.</p>
        <div class="features"><div class="box"><h3>📇 Manage Contacts</h3><p>Add, update and delete your contacts easily.</p></div>
            <div class="box"><h3>🔒 Secure</h3><p>Your data is protected with authentication & security.</p></div>
            <div class="box"><h3>⚡ Fast & Easy</h3><p>Simple and user-friendly interface for quick access.</p></div></div></div></div>
<script>console.log("about page");</script>
<script>console.log("second about page script");
</script>
</html>
